<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.demo.dao.ActivitiesDOMapper">
  <resultMap id="BaseResultMap" type="com.admin.demo.data.ActivitiesDO">
    <id column="activites_id" jdbcType="INTEGER" property="activitesId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="des" jdbcType="VARCHAR" property="des" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="place" jdbcType="VARCHAR" property="place" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="welfare" jdbcType="VARCHAR" property="welfare" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="toplace" jdbcType="VARCHAR" property="toplace" />
    <result column="totime" jdbcType="TIMESTAMP" property="totime" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="longtime" jdbcType="INTEGER" property="longtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    activites_id, phone, user_name, user_id, name, des, content, place, time, deadline, 
    num, welfare, type, toplace, totime, year, longtime, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_activities
    where activites_id = #{activitesId,jdbcType=INTEGER}
  </select>
  <select id="selectNum" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select num from v_activities
    where activites_id = #{activitesId,jdbcType=INTEGER}
  </select>
  <select id="getLast" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    activites_id,status
    from v_activities
    where user_id=#{user_id}
    order by activites_id DESC limit 1;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from v_activities
    where activites_id = #{activitesId,jdbcType=INTEGER}
  </delete>
  <select id="selectByPublish" parameterType="com.admin.demo.data.ActivitiesDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v_activities where user_id= #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="com.admin.demo.data.ActivitiesDO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from v_activities
    <where>
      <if test="activitesId != null ">activites_id=#{activitesId}</if>
      <if test="status != null ">and status=#{status}</if>
    </where>
  </select>
  <insert id="insert"  useGeneratedKeys="true" keyProperty="activitesId" parameterType="com.admin.demo.data.ActivitiesDO">
    insert into v_activities (activites_id, phone, user_name, 
      user_id, name, des, 
      content, place, time, 
      deadline, num, welfare, 
      type, toplace, totime, 
      year, longtime, status
      )
    values (#{activitesId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{des,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{deadline,jdbcType=TIMESTAMP}, #{num,jdbcType=INTEGER}, #{welfare,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{toplace,jdbcType=VARCHAR}, #{totime,jdbcType=TIMESTAMP}, 
      #{year,jdbcType=VARCHAR}, #{longtime,jdbcType=INTEGER}, 0
      )
  </insert>
  <insert id="insertSelective" parameterType="com.admin.demo.data.ActivitiesDO">
    insert into v_activities
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="activitesId != null">
        activites_id,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="des != null">
        des,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="place != null">
        place,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="welfare != null">
        welfare,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="toplace != null">
        toplace,
      </if>
      <if test="totime != null">
        totime,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="longtime != null">
        longtime,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="activitesId != null">
        #{activitesId,jdbcType=INTEGER},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="welfare != null">
        #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="toplace != null">
        #{toplace,jdbcType=VARCHAR},
      </if>
      <if test="totime != null">
        #{totime,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="longtime != null">
        #{longtime,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.admin.demo.data.ActivitiesDO">
    update v_activities
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="des != null">
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="place != null">
        place = #{place,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="welfare != null">
        welfare = #{welfare,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="toplace != null">
        toplace = #{toplace,jdbcType=VARCHAR},
      </if>
      <if test="totime != null">
        totime = #{totime,jdbcType=TIMESTAMP},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="longtime != null">
        longtime = #{longtime,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where activites_id = #{activitesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.admin.demo.data.ActivitiesDO">
    update v_activities
    set phone = #{phone,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      des = #{des,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      place = #{place,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      deadline = #{deadline,jdbcType=TIMESTAMP},
      num = #{num,jdbcType=INTEGER},
      welfare = #{welfare,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      toplace = #{toplace,jdbcType=VARCHAR},
      totime = #{totime,jdbcType=TIMESTAMP},
      year = #{year,jdbcType=VARCHAR},
      longtime = #{longtime,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where activites_id = #{activitesId,jdbcType=INTEGER}
  </update>
  <update id="updateStatus" parameterType="java.lang.Integer">
    update v_activities
    set
      status = 3
    where activites_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>