<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.demo.dao.EnterDOMapper">
  <resultMap id="BaseResultMap" type="com.admin.demo.data.EnterDO">
    <id column="enter_id" jdbcType="INTEGER" property="enterId" />
    <result column="activites_id" jdbcType="INTEGER" property="activitesId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="longtime" jdbcType="INTEGER" property="longtime" />
    <result column="score" jdbcType="INTEGER" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    enter_id, activites_id, user_id, status, year, longtime, score
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from v_enter
    where enter_id = #{enterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from v_enter
    where enter_id = #{enterId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.admin.demo.data.EnterDO">
    insert into v_enter (enter_id, activites_id, user_id, 
      status, year, longtime, 
      score)
    values (#{enterId,jdbcType=INTEGER}, #{activitesId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{year,jdbcType=VARCHAR}, #{longtime,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.admin.demo.data.EnterDO">
    insert into v_enter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="enterId != null">
        enter_id,
      </if>
      <if test="activitesId != null">
        activites_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="longtime != null">
        longtime,
      </if>
      <if test="score != null">
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="enterId != null">
        #{enterId,jdbcType=INTEGER},
      </if>
      <if test="activitesId != null">
        #{activitesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=VARCHAR},
      </if>
      <if test="longtime != null">
        #{longtime,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.admin.demo.data.EnterDO">
    update v_enter
    <set>
      <if test="activitesId != null">
        activites_id = #{activitesId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="longtime != null">
        longtime = #{longtime,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where enter_id = #{enterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.admin.demo.data.EnterDO">
    update v_enter
    set activites_id = #{activitesId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      year = #{year,jdbcType=VARCHAR},
      longtime = #{longtime,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER}
    where enter_id = #{enterId,jdbcType=INTEGER}
  </update>
</mapper>